@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');


.advbox{

    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 206px;
    height: 50px;
    flex-shrink: 0;
    position: fixed;
    top: 100px;
    left: 10%;
   
    color: #009687;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.6px;
}

.advbox .advisorTitle{
    color: #009687;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.6px;
}



.Dropdown-wrapper{
  border: 0px none;
  height: 750px;
  width: 1800px;

}

.box-2{
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 0 0px;
  width: 100px;
  height: 40px;
  position: fixed;
  top: 150px;
  left: 2%;
}

.h-2{
  display: grid;
  grid-template-columns: repeat(3,250px);
  grid-gap: 5px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
  white-space: nowrap;
  letter-spacing: -0.4px;
  font-weight: 500;
  
}
  