.dd-wrapper{
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 900px;
}

.mb-3{
  width: 250px;
  border-radius: 21.333px;
  box-shadow: 0px 0.78px 0.56px -0.78px #0000001a, 0px 3.56px 5.33px -0.89px #0000001a;
}
