.search-bar-search-bar {
    height: 42px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    gap: 54px;
    width: 100%;
    position: fixed;
    top: 100px;
}
  
.search-bar-frame-5077x {
    font-weight: 500px;
    text-align: left;
    color: rgba(0, 150, 135, 1);
    font-family: Work Sans;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 62px;
    left: 50%;
    transform: translate(-50%);
}

.search-bar-students {
    width: 350px;
    letter-spacing: -0.02em;
    font-size: 30px;
    white-space: nowrap;
}

.box-n{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    height: 60px;
    position: fixed;
    top: 166px;
    left: 0;
}

.h-n{
    display: grid;
    grid-template-columns: repeat(3,220px);
    grid-gap: 5px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    white-space: nowrap;
    letter-spacing: -0.4px;
    font-weight: 500;
}

.dropdown-wrapper-n{
  padding-left: 100px;
}

.table-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F8FF;
    top: 100px;
}

.table{
    display: block;
    border-collapse: collapse;
    overflow: hidden;
    table-layout: fixed;
    border-radius: 10px;
    white-space: nowrap;
    width: 90%;
    max-width: 95%;
    overflow-x: auto;
    position: fixed;
}

.table thead{
    background-color: var(--white, #ffffff);
    color: var(--gray, #69686A);
}

.table tbody{
    background-color: var(--white, #FFF);
    color: var(--gray, #69686A);
}

.table th, 
.table td{
    padding: 0.8rem;
} 

.table td{
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.table tbody tr:hover{
    background-color: #F2F8FF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.expand{
    width: 16%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0.3rem;
  color: white;
  font-weight: bold;
}

.label-core{
    background-color: #07af23d7;
    border-radius: 4px;
    width: 60px;
    height: 30px;
    border: none;
    font-weight: bold;
}

.label-technical{
    background-color: rgb(238, 154, 29);
    border-radius: 4px;
    width: 60px;
    height: 30px;
    border: none;
    font-weight: bold;
}

.label-remove {
    background-color: rgba(5, 205, 153, 0.3); /* Adjust the alpha value (0.5) for desired transparency */
    border-radius: 4px;
    width: 60px;
    height: 30px;
    border: none;
    font-weight: bold;
    color: rgb(250, 92, 92);
}


.label-remove:hover{
    background: linear-gradient(360deg, rgb(0, 150, 135) 0%, rgb(8.37, 200.81, 181.57) 100%);
    cursor: pointer;
}

.button-button-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    height: 60px;
    position: fixed;
    top: 850px;
    left: 0;
}

.button-wrapper {
    padding-left: 1640px;
}

.button-h1{
    display: grid;
    grid-template-columns: repeat(3,220px);
    grid-gap: 5px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    white-space: nowrap;
    letter-spacing: -0.4px;
    font-weight: 500;
}

.button-open-semester {
  background-color: #009687;
  border-radius: 16px;
  width: 180px;
  height: 38px;
  border: none;
  font-weight: 400;
  color: #ffffff;
  font-size: medium;
  box-shadow: 0px 2px 2px #ccc;
}

.button-open-semester:hover{
    background: var(--new-green, linear-gradient(135deg, #009687 50%, #08C9B6 100%));
    cursor: pointer;
}

.button-button-wrapper-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    height: 60px;
    position: fixed;
    top: 166px;
    left: 0;
}

.button-wrapper-1 {
    padding-left: 1645px;
}

.button-h2{
    display: grid;
    grid-template-columns: repeat(3,220px);
    grid-gap: 5px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    white-space: nowrap;
    letter-spacing: -0.4px;
    font-weight: 500;
}

.button-new-course {
  background-color: #009687;
  border-radius: 10px;
  width: 180px;
  height: 39px;
  border: none;
  font-weight: 400;
  color: #ffffff;
  font-size: medium;
  box-shadow: 0px 2px 2px #ccc;
}

.button-new-course:hover{
  background: var(--new-green, linear-gradient(135deg, #009687 0%, #08C9B6 100%));
  cursor: pointer;
}




