
.table-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F2F8FF;
}

.table{
    display: block;
    border-collapse: collapse;
    overflow: hidden;
    table-layout: fixed;
    border-radius: 10px;
    white-space: nowrap;
    width: 100em;
    max-width: 80%;
    margin: auto;
    overflow-x: auto;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.2));
}

.table thead{
    background-color: var(--white, #FFF);
    color: var(--gray, #69686A);
}

.table tbody{
    background-color: var(--white, #FFF);
    color: var(--gray, #69686A);
}

.table th, 
.table td{
    padding: 0.8rem;
} 

.table td{
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tbody tr:hover{
    background-color: #F2F8FF;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.2));
}

.expand{
    width: 100%;
}